@import "bootstrap";
@import "bootstrap-icons";

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/* @media (prefers-color-scheme: dark) { */
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
 }  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      /* rgb(var(--background-end-rgb)) */
    )
    /* rgb(var(--background-start-rgb));
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Droid Sans,
    Helvetica Neue,
    sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#horzBar{
  width: 450px;
  height: 80px;
  background-color: #00203FFF;
  /* margin-left: 560px;
  margin-top: 100px; */
  border-radius: 15px;
  color: white;
}
 #mainBox{
  /* border: 2px solid black; */
  padding-left: 150px;
  padding-top:40px;
  padding-bottom:50px;
  margin-right: 400px;
  margin-left: 400px;
  /* position: absolute; */
}
#squareBox{
  border: 2px solid #ADEFD1FF;
  background-color: #ADEFD1FF;
  width: 450px;
  height: 400px;
  margin-top: 5px;
  border-radius: 15px;
}
#Profileicon{
  font-size: 55px;
  margin-left: 40px;
  margin-top: 10px;
}
.proficon{
  color: white;
  height: 70px;
  width: 150px;
  margin-top: 6px;
  font-size: 700px;
}
button{
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
#Accountid{
  margin-top: 50px;
}

#DoctorDetails{
  margin-left: 70px;
  margin-top: 40px;
  display: flexbox;
  gap: 15px;
}

/*---------------------------------------------Doctor Navbar------------------------------------------------------------*/

li{
  list-style: none;
  display:flexbox;
  margin-bottom: 20px;
  margin-top: 30px;
}
ul{
  float: right;
  margin-top: -600px;
  margin-right: 0px;
  background-color: #00203FFF;
  padding-right: 50px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 400px;
  position: relative;
  z-index: 1;
}
ul li button{
  border: none;
  background-color: #00203FFF;
  color: white;

}
li:hover{
  border: 2px solid wheat;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px soild wheat;
}
#menuimg{
  float: right;
  margin-top: -590px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
  width: 50px;
  
}


/*----------------------Nav toggle----------------------------------*/

.menu.slide-in {
  animation: slideIn 0.4s forwards;
}

.menu.slide-out {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

#SearchBar{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px soild black;
  outline: none;
  margin-left: 300px;
  width: 600px;
  margin-top: 40px;
  height: 50px;
  font-size: 30px;
}

#searchimg{
  width: 300px;
  height: 150px;
  margin-top: -30px;
  margin-bottom: -30px;
}
#LeftBox{
  float: left;
  margin-top: 80px;
  margin-left: 70px;
}
#requestimg{
  margin-top: -50px;
  margin-bottom: -60px;
}
#DocNav{
  margin-top: 500px;
}
#RightBox{
  float: right;
  margin-top: 80px;
  margin-right: 300px;
}

/* From Uiverse.io by nikk7007 */ 
.btn {
  --color: #060606;
  --color2: white;
  /* padding: 0.8em 1.75em; */
  background-color: transparent;
  border-radius: 6px;
  border: .5px solid black;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
  height: 40px;
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }
 
#PatDat{
  position: absolute;
  margin-left: 200px;
  margin-top: -400px;
  border: 2px solid black;
  padding: 50px;
  padding-bottom: 90px;
}
#reqBox{
  float: right;
  margin-left: 350px;
  margin-top: -150px;
}
#docTxt{
  width: 400px;
}
#Btns{
  margin-left: 140px;
  position: absolute;
  bottom: 40px;
  left: 100px;
}
#DocBackbtn{
  width: 100px;
}
#ProjectTitle {
  letter-spacing: 5px;
  text-shadow: 1px 1px black;
  font-family: sans-serif;
  font-size: 100px;
  animation-duration: 2s;
  animation-name: slideFromTop;
  animation-fill-mode: forwards; /* Ensures the element stays in the final position */
}

/* Define the keyframes for the sliding effect */
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%); /* Start off-screen above the viewport */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at its normal position */
    opacity: 1;
  }
}

#Mainbtns{
  display: inline-flex;
  gap: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
#maincnnbtn{
  background-color: wheat;
}
#img1{
  float: left;
  margin-left: -350px;
  width: 500px;
  margin-top: 50px;
}
#txt1{
  float: right;
  margin-right: -400px;
  width: 700px;
  margin-top: 50px;
}
#matt1{
  line-height: 46px;
}
#img2{
  width: 500px;
  height: 300px;
  margin-top: 360px;
  float: right;
  margin-right: -650px;
}
#txt2{
float: left;
margin-left: -500px;
margin-top: 420px;
}
#matt2{
  line-height: 46px;
  width: 620px;
}
#img3{
  width: 500px;
  height: 260px;
  float: left;
  margin-left: -620px;
 margin-top: 700px;
}
#matt3{
  line-height: 46px;
  margin-top: 0px;
  margin-left: 10px;
  width: 500px;
}
#txt3{
  position: absolute;
  top: 1000px;
  left: 800px;
}